
__pycache__/locations.cpython-36.pyc
*.pyc
*.json
downloads/atmosphere-0.8.6-master-994d7d5%2Bhbl-2.1%2Bhbmenu-3.0.1.zip
downloads/hekate_ctcaer_4.9.1.zip
downloads/JKSV.nro
downloads/khedgb.zip
downloads/lithium.latest.zip
downloads/Lockpick.nro
downloads/NX-Shell.nro
downloads/SD.zip
downloads/tinfoil-883e3bd.zip
downloads/vba-next.zip
