
__pycache__/locations.cpython-36.pyc
*.pyc
*.json
downloads/atmosphere-0.8.6-master-994d7d5%2Bhbl-2.1%2Bhbmenu-3.0.1.zip
downloads/hekate_ctcaer_4.9.1.zip
downloads/JKSV.nro
downloads/khedgb.zip
downloads/lithium.latest.zip
downloads/Lockpick.nro
downloads/NX-Shell.nro
downloads/SD.zip
downloads/tinfoil-883e3bd.zip
downloads/vba-next.zip
downloads/2048.zip
downloads/Additional.SigPatches.espatches.zip
downloads/appstore.zip
downloads/Calculator-NX_0.8.nro
downloads/gag-order.nro
downloads/goldleaf-d212c5a.zip
downloads/KosmosV11111.zip
downloads/NxThemesInstaller.nro
downloads/pplay-2.1_switch.zip
downloads/tinfoil.latest.zip
downloads/Tinfoil.nro
downloads/payload.bin
downloads/ReiNX.bin
downloads/ReiNX/patches/es_patch.rxp
downloads/ReiNX/patches/es_patches/D2D2430244D162C9FAABE8C89A58C6E3962160F1.ips
downloads/ReiNX/patches/es_patches/F65FBA401BAC3CDDEA4917DE22E8B426B3A6C3AD.ips
downloads/ReiNX/secmon.bin
downloads/ReiNX/splash.bin
downloads/ReiNX/sysmodules/fs_mitm.kip
downloads/ReiNX/sysmodules/loader.kip
downloads/ReiNX/sysmodules/pm.kip
downloads/ReiNX/sysmodules/sm.kip
downloads/ReiNX/titles/0100000000000034/exefs.nsp
downloads/ReiNX/warmboot.bin
downloads/sept/payload.bin
downloads/sept/sept-primary.bin
downloads/sept/sept-secondary.bin
downloads/sept/sept-secondary.enc
downloads/2048.png
downloads/Argon-NX SD Files.png
downloads/Atmos.png
downloads/Edizon.png
downloads/Goldleaf (XorTroll).png
downloads/Homebrew Store.png
downloads/Kosmos.png
downloads/Lithium (blawar).png
downloads/Lockpick.png
downloads/ReiNX.png
downloads/SX OS 2.5.3.png
downloads/SX OS 2.6.1 BETA.png
downloads/Tinfoil (addubz).png
downloads/Tinfoil (blawar).png
downloads/Tinfoil (satelliteseeker fork).png
